<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STRAIN - Watch Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Uploaded Video</h2>
        
        <!-- Video & Image Wrapper -->
        <div class="video-container">
            <!-- Video -->
            <video controls>
                <p>Video URL: {{ video_url }}</p>
                <source src="{{ video_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <!-- Wireframe Image with SVG Overlay -->
            <div class="wireframe-container">
                <img src="{{ url_for('static', filename='images/humanbodywireframe.png') }}" alt="Human Wireframe" class="wireframe-img">
                <svg class="overlay" viewBox="0 0 500 800" preserveAspectRatio="xMidYMid meet">
                    <!-- hips-->
                    <circle id="Left_Hip_Moment" cx="40%" cy="50%" r="4%" fill="transparent" fill-opacity="0.5" stroke="none"/>
                    <text id="Left_Hip_Moment_text" x="20%" y="50%" dx="5" dy="-5" fill="white" font-size="18"></text>
                    
                    <circle id="Right_Hip_Moment" cx="60%" cy="50%" r="4%" fill="transparent" fill-opacity="0.5" stroke="none"/>
                    <text id="Right_Hip_Moment_text" x="60%" y="50%" dx="5" dy="-5" fill="white" font-size="18"></text>
                  
                    <!-- knees-->
                    <circle id="Left_Knee_Moment" cx="37%" cy="75%" r="4%" fill="transparent" fill-opacity="0.5" stroke="none"/>
                    <text id="Left_Knee_Moment_text" x="17%" y="75%" dx="5" dy="-5" fill="white" font-size="18"></text>
                    
                    <circle id="Right_Knee_Moment" cx="63%" cy="75%" r="4%" fill="transparent" fill-opacity="0.5" stroke="none"/>
                    <text id="Right_Knee_Moment_text" x="63%" y="75%" dx="5" dy="-5" fill="white" font-size="18"></text>
                  
                    <!-- ankle-->
                    <circle id="Left_Ankle_Moment" cx="33%" cy="90%" r="4%" fill="transparent" fill-opacity="0.5" stroke="none"/>
                    <text id="Left_Ankle_Moment_text" x="13%" y="90%" dx="5" dy="-5" fill="white" font-size="18"></text>
                    
                    <circle id="Right_Ankle_Moment" cx="67%" cy="90%" r="4%" fill="transparent" fill-opacity="0.5" stroke="none"/>
                    <text id="Right_Ankle_Moment_text" x="67%" y="90%" dx="5" dy="-5" fill="white" font-size="18"></text>
                  </svg>
                  
                
            </div>
            
        </div>
        
        <div class="bottom-container">
            <form action="/" method="get">
                <button type="submit" class="upload-again-btn">Upload Another Video</button>
            </form>
        </div>

        
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
